

<h2>グループ参加者一覧</h2><br>
<% @users.each do |user| %>
  <%= user.username %>
  <% user.memos.each do |memo| %>
    <%= memo.bank %> 
  <% end %><br>
<% end %><br><br><br>

<%= link_to 'ホームに戻る', memos_path %>