<p id="notice"><%= notice %></p>

<html>

  <head>
  <meta charset = "utf-8">

  <script>
function plus(){
  var kazu = document.getElementById('id_plus').value;
  var y = Number(kazu);
  alert ($a+y);
}
function t(){
var tasu = prompt("kane") ;
$a+= Number(tasu)
alert($a);
}
</script>


</head>

<body>
  <strong>現在の金額:</strong>
  print "#{a}"
  <br><br>
  <p>
  <strong>追加する金額を入力してください</strong>
  </p>
<br>  
  <input type = "text" id="id_plus" ><br>
  <input type = "button" value="+" onclick="plus();" >
  <input type = "button" value="botan" onclick="alert($a);" >
  <input type = "button" value="tasu" onclick="t();" >
  <br>
<br>
  <%= link_to 'ホームに戻る', memos_path %>

</html> 